@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

.App {
  font-family: "Fredoka", sans-serif;
}
.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-forms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}